#where your torrent data will be saved
directory.default.set=~/.rtorrent/default
#allows rTorrent to save the progess of your torrents
session.path.set=~/.rtorrent/session

#watch a particular directory for new torrent files
schedule2=watch_directory,10,30,load_start=~/.rtorrent/watch/*.torrent
schedule2=untied_directory,5,30,stop_untied=
schedule2=tied_directory,5,30,start_tied=

#gets the full path of data of a torrent (it's a workaround for the possibly empty 'd.base_path' attribute)
method.insert=d.get_data_full_path,simple,"branch=((d.is_multi_file)),((cat,(d.directory))),((cat,(d.directory),/,(d.name)))"
method.set_key=event.download.finished,finished,"execute=ln,-s,$d.get_data_full_path=,~/.rtorrent/finished"
#method.set_key=event.download.finished,finished,"execute=mv,-u,$d.get_data_full_path=,~/.rtorrent/finished; execute=ln,-s,$d.get_data_full_path=,~/.rtorrent/finished"

#close torrents when diskspace is low.
schedule2=low_diskspace,5,60,close_low_diskspace=100M


